.forthRight {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  min-height: 2100px;
  background-color: var(--mainColor);
  color: #fff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .forthRight {
    width: 100%;
    min-height: 100vh;
  }
}
