.ProjectsPage {
  display: flex;
}

.ProjectsPage section {
  flex: 1;
}

.thirdRight {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.thirdLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--mainColor);
  color: #fff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .ProjectsPage {
    flex-direction: column;
  }
}
