:root {
  --mainColor:  rgb(63, 31, 31);
  --secondaryColor: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}